* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
}

html {
  background-color: #f5f9f6;
  scroll-behavior: smooth;
}

.li-container {
  padding: 20px 45px 20px 45px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #f5f9f6;
  width: 100%;
  z-index: 999;
}

.hero-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 45px 45px 45px;
}

.product-desc,
.quote,
.link {
  font-size: 30px;
  font-weight: 700;
}

h1 {
  font-size: 200px;
}

img {
  width: 50vw;
  /* height: 80vh; */
  overflow: hidden;
}

a {
  color: black;
  /* text-decoration: none; */
}

span {
  font-size: 200px;
  font-weight: 900;
  color: #fec807;
  /* border: solid black;  */
  /* background-color: rgb(145, 24, 24); */
}

svg {
  width: 80px;
  height: 40px;
}

.svg-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cont {
  padding: 0px 45px 45px 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.navigate-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
}

.projects-visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding: 45px;
}

.projects-visual > li {
  font-size: 100px;
}

@media screen and (max-width: 430px) {
  .header-cont > .hero-cont > .producer {
    font-size: 75px;
  }

  .img-cont {
    width: 100%;
  }

  .img-cont > span {
    display: none;
  }

  .svg-cont > svg {
    height: 25px;
  }

  .projects-visual > li a {
    font-size: 5px;
  }
}

@media screen and (max-width: 768px) {
  .li-container {
    gap: 2px;
  }

  .hero-cont {
    padding: 70px 20px 20px 20px;
  }

  .hero-cont > .producer {
    font-size: 145px;
  }

  .product-desc,
  .quote {
    font-size: 20px;
  }

  .img-cont {
    padding: 20px;
  }

  span {
    font-size: 160px;
  }

  .navigate-projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    width: 100vw;
  }

  .projects-visual {
    padding: 20px;
  }

  .projects-visual > li a {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .projects-visual > li {
    font-size: 70px;
  }

  .producer {
    font-size: 170px;
  }
}
