* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Sans SC", sans-serif;
}

body {
  background-color: #f5f9f6;
}

a {
  color: black;
  /* text-decoration: none; */
}

.top-container,
.footer-container,
.scroll,
#y-cont,
#x-cont {
  animation: fadein 4s forwards;
}

/* animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 155px;
  width: 100%;
  background-color: #f5f9f6;
  z-index: 1;
}

.my-name {
  font-size: 60px;
  font-weight: bold;
  font-kerning: unset;
  letter-spacing: 10px;
}

.big-name {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f5f9f6;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 550px;
  background-color: #f5f9f6;
  list-style: none;
}

.link-footer > a {
  text-decoration: none;
}

.footer-container {
  width: 100%;
  min-height: 155px;
  border-top: solid black;
  background-color: #f5f9f6;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.pic-footer {
  display: flex;
  justify-content: center;
  overflow-x: 100vw;
  margin-top: 25px;
  height: 75px;
}

.link-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

.link-footer > .scroll-indicator {
  position: fixed;
  font-size: 24px;
  font-weight: 900;
  bottom: 12px;
}

.section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.scroll {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 75%;
  font-size: 25px;
  font-weight: 700;
  color: white;
  mix-blend-mode: difference;
  z-index: 9;
}

#y-cont {
  position: fixed;
  display: flex;
  gap: 44vh;
  flex-direction: column;
  left: 3%;
  bottom: 63vh;
}

#x-cont {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 93vw;
  top: 70vh;
  border: solid black;
}

#y-coordinate,
#x-coordinate {
  font-size: 20px;
  font-weight: 900;
  /* color: snow; */
}

.profile-pic {
  width: 25%;
  height: auto;
}

.squared-eyes {
  height: 60px;
}

.pitch {
  max-width: 480px;
  font-size: 20px;
}

#section-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px 12px 12px;
  width: 100%;
  height: 100vh;
}

#section-home > img {
  object-fit: cover;
  width: 70vw;
  height: 50vh;
}

#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 12px 0px;
}

.user-tools-cont {
  border: solid black;
  display: flex;
  flex-direction: column;
}

.user-tools,
.user-date {
  gap: 5px;
  padding: 10px;
  border-bottom: solid black;
  border-left: solid black;
}

.user-tools > p {
  font-size: larger;
  letter-spacing: 5px;
}

.user-tools > svg {
  height: 30px;
}

#section2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}

#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}

#section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}

.number {
  font-size: 80px;
  font-weight: 900;
}

.mailtoui {
  font-size: 48px;
  font-weight: 700;
}

.cv {
  font-size: 50px;
  font-weight: 900;
}

.menacing {
  height: 150px;
  margin-bottom: 300px;
}

@media screen and (max-width: 930px) {
  /* Adjust styles for smaller screens here */

  .my-name {
    font-size: 30px;
  }

  .top-container {
    height: 25px;
  }

  .preloader {
    max-width: 400px;
  }

  .footer-container {
    max-width: 430px;
  }

  .big-name {
    font-size: 60px;

    /* gap: 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    height: 20px;
  }

  #section-home {
    max-width: 430px;
    height: 920px;
  }

  #section1 {
    display: flex;
    flex-direction: column;
  }

  #section2 {
    font-size: 25px;
  }

  #section3 {
    display: flex;
    flex-direction: column;
  }

  #section4 {
    padding-bottom: 100px;
  }

  .mailtoui {
    font-size: 25px;
  }

  .cv {
    margin-top: 5px;
    font-size: 35px;
  }

  .scroll {
    display: none;
  }

  .scroll-indicator {
    mix-blend-mode: difference;
    top: 720px;
    font-size: 20px;
  }

  #y-cont {
    display: none;
  }

  #x-cont {
    display: none;
  }

  .pitch {
    font-size: 15px;
    max-width: 300px;
  }

  .profile-pic {
    width: 50%;
  }

  .eyes {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    padding: 0px 270px;
    gap: 25px;
  }

  .my-name {
    font-size: 30px;
  }

  .scroll {
    font-size: 20px;
    top: 440px;
  }

  #section2 {
  }

  #section2 > li {
    font-size: 25px;
  }

  #section4 {
    height: 100vh;
  }

  .menacing {
    margin: 0px;
  }

  #x-cont,
  #y-cont {
    display: none;
  }
}

/* @media screen and (max-width: 2560px) {
  .my-name {
    font-size: 100px;
  }

  .squared-eyes {
    max-height: 150px;
  }

  .nav {
    font-size: 23px;
    padding: 0px 1000px;
  }

  .pitch {
    font-size: 25px;
    max-width: 620px;
  }
}

#section1 {
  display: flex;
  margin-top: 120px;
  gap: 20px;
}

.menacing {
  max-height: 100vh;
}

.number {
  font-size: 40px;
}

.email {
  font-size: 120px;
}

.cv {
  margin-top: 2px;
  font-size: 70px;
}
.scroll {
  top: 1100px;
}

.scroll-indicator {
  font-size: 22px;
} */
